
body, html {
	height: 100%;
	width: 100%;
	overflow-x:hidden;
	background-color: rgb(36, 36, 36);
	color: #ffffff;
}

.borde {
	border: 2px solid #000000;
	border-radius: 5px;
	margin-top: 15px;
}

.icon-socie {
	align-items: center;
	justify-content: center;
	display: flex;
}

span a {
	margin: 5px;
}


.img-borde {
	border-radius: 5px 5px;
}

.footer {
	width: 100%;
	height: 80px;
	position: absolute;
	background-color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

#preloader {
	width: 100%;
	height: 100%;
	position: relative;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:999; /* makes sure it stays on top */
}

#load {
	
	border: 16px solid #d4d4dd;
	border-top: 16px solid #4b4b4b;
	border-bottom: 16px solid #4b4b4b;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	animation: spin 2s linear infinite;
	margin: auto;
	
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-position:center;
}	@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Preloader */


.intro-header {
	background: url(../img/intro/intro.jpg) no-repeat center center;
}

